/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    padding:0;
    margin:0
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*
 * remove margin & padding & list-style-type of tag ul
 */

ul {padding:0; margin:0; list-style-type:none}

/*
 * remove margin & padding  of tag p
 */

p {padding:0; margin:0}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {background:#f2f1e8; width:320px; font-family: "Heiti SC Medium";}

.grey888 {color:#888;}

/* view - login */
.page_login {width:320px; height:410px; padding-top:50px; overflow-y:hidden; background:#ab1f1f; text-align:center; margin:0}
.logo {width:164px;height:79px;background:url(../img/logo.png) no-repeat left top;background-size:164px;margin:0 auto}
.login_wrap {width:250px;margin:30px auto 0;text-align:left}

.login_text {font-size:22px;width:230px;height:44px;line-height:44px;border:1px solid #6e1515;padding:0 10px;box-shadow:1px 1px 2px #ddd inset;-webkit-border-radius:10px;}
.login_text:focus {outline:0;}
.login_text_id {border-bottom-left-radius:0;border-bottom-right-radius:0;border-bottom:1px solid #ccc;}
.login_text_password {border-top-left-radius:0;border-top-right-radius:0;border-top:0;}
/*a.btn_login, a.btn_login:hover {width:298px; height:30px; font-size:18px; border:1px solid #333; background:#fff; color:#333; border-radius:6px; text-decoration:none;}*/
.btn_login {width:250px;height:44px;line-height:44px;font-size:22px;color:#fff;font-weight:bold;border:none;background:url(../img/btn_login.png) no-repeat left top;background-size:250px;-webkit-border-radius:10px;margin-top:8px;box-shadow:1px 2px 3px #4b0c0c;text-shadow:-1px -1px 1px #282828;text-align: center}
.btn_login_hover {background:#454443;}


/* sidebar */
.sidebar {width:320px; background:#444; height:460px; color:#f5f5f5; overflow-y:scroll; -webkit-overflow-scrolling:touch}
.sidebar ul.sidebar_list {}
.sidebar ul.sidebar_list li {height:40px; line-height:40px; border-bottom:1px solid #333; padding:0 16px}
.sidebar ul.sidebar_list li a {width:100%; height:40px; line-height:40px; color:#000; text-decoration:none;}

/* view - list */
.main {width:320px; position:absolute; top:0; left:0; z-index:90; background:#f5f5f5; -webkit-transition: all 0.5s;-moz-transition: all 0.5s;}
.sidebar_show {-webkit-transform:translateX(280px); -moz-transform:translateX(280px); box-shadow:-2px -2px 5px #999;}
.container {overflow-x:hidden}
.pageWrap {width:9999px; height:416px;}
.page {widht:320px; height:460px; float:left;}


.header {width:320px;height:44px;background:url(../img/icons.png) no-repeat left top;background-size:320px;}
.header .pageTitle {width:200px;height:44px;line-height:44px;font-size:22px;color:#fff;text-align:center;float:left;font-weight:bold;font-family:"Heiti SC Medium";text-shadow:-1px -1px 1px rgba(0,0,0,0.4);}
.header .btn_header {width:55px; height:44px;line-height:44px;overflow:hidden;background:url(../img/icons.png) no-repeat 0 -44px;float:left;background-size:320px;}
.header .btn_nav {background-position:0 -44px;}
.header .btn_update {background-position:-110px -44px;float:right;}

.listWrap {width:320px; height:416px; overflow-y:scroll; -webkit-overflow-scrolling:touch;}
ul.main_list {width:298px;border:1px solid #c5c4c3;-webkit-border-radius:10px;box-shadow:1px 1px 2px rgba(0,0,0,0.12);margin:10px auto;}
ul.main_list li{font-size:18px;text-align:left;border-bottom:1px solid #ddd;background:#fff url(../img/bg_list.png) no-repeat 280px 16px;background-size:10px;padding:5px}
ul.main_list li:first-child{-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px}
ul.main_list li:last-child{border-bottom:none;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px}
ul.main_list li .summary {width:218px; float:left}
ul.main_list li .summary .custName{font-size:18px}
ul.main_list li .summary .custNeed{font-size:12px; color:#999}
ul.main_list li .lastCall {width:50px; padding-top:25px; font-size:14px; text-align:right; float:right}
ul.main_list li:last-child .summary {-webkit-border-bottom-left-radius:10px}
ul.main_list li:last-child .lastCall {-webkit-border-bottom-right-radius:10px}

.noRecord {text-align:center;color:#888;padding:20px 0}

.popup_bottom {width:320px; padding:20px 0; position:absolute; z-index:100; bottom:0; left:0; background:#fff;}
.popup_inner{width:250px; text-align:left;}
#mask {width:320px; height:460px; background:#333; opacity:0.5; z-index:99; position:absolute; top:0; left:0}

.btn_oper, a.btn_oper, a.btn_oper:hover {width:250px; height:30px; line-height:30px; background:#eee; color:#333; border:1px solid #ddd; text-decoration:none; text-align:center}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.in_block {display:-moz-inline-stack; vertical-align:top; display:inline-block; zoom:1; *display:inline}


/* padding & margin */
.mt_5 {margin-top:5px;}
.mt_10 {margin-top:10px;}
.m_10 {margin:10px;}
.m_auto_h {margin-left:auto; margin-right:auto}
.ml_20 {margin-left:20px;}

.pl_20 {padding-left:20px;}


/* text-aligment */
.align_center {text-align:center}
.align_left {text-align:left}
.align_right {text-align:right}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
