<!-- begin: sidebar -->
<div class="sidebar">
    <ul class="sidebar_list">
        <li ng-click="sidebarSwitch()">我的客户</li>
        <li ng-click="logout()">注销</li>
    </ul>
</div>

<!--- begin: list -->
<div id="main" class="main {{sidebarShow}}">
    <div class="container">
        <div class="pageWrap">
            <div class="page">
                <header class="header clearfix">
                    <div class="btn_header btn_nav" ng-click="sidebarSwitch()"></div>
                    <div class="pageTitle">我的客户</div>
                    <div class="btn_header btn_update" ng-click="refresh()"></div>
                </header>

                <section class="listWrap">
                    <p class="align_center"><input type="text" ng-model="search" placeholder="搜索" class="txt_search"/></p>
                    <ul class="main_list {{listShow}}">
                        <li class="clearfix" ng-repeat="customer in customerList | orderBy:predicate | filter:search" ng-click="call(customer.inquiryId)" id="{{customer.inquiryId}}">
                            <div class="summary">
                                <p class="custName">{{customer.custName}}</p>

                                <p class="custNeed">{{customer.districtName}}<br/>800-1000万</p>
                            </div>
                            <div class="lastCall">{{customer.lastFollowDate | fromNow: 'YYYY/MM/DD HH:mm:ss'}}</div>
                        </li>
                    </ul>
                </section>

                <!-- begin opration -->

                <!-- single phone -->
                <section class="popup_bottom {{popupCallShow}}">
                    <section class="align_center">
                        <p><a href="tel:{{phoneNumber}}" id="{{inquiryId}}" class="btn_oper in_block" ng-click="updateLastFollowDate('tel', inquiryId)">打电话</a></p>
                        <p class="mt_10"><a href="sms:{{phoneNumber}}" class="btn_oper in_block {{smsShow}}">发短信</a></p>
                        <p class="mt_10"><input type="button" class="btn_oper" value="取消" ng-click="callCancel()" /></p>
                    </section>   
                </section>

                <!-- multiple phones -->
                <section class="popup_bottom {{popupCallMultiShow}}">
                    <section class="align_center">
                        <p><input type="button" class="btn_oper" value="打电话" ng-click="callSelect('tel')" /></p>
                        <p class="mt_10"><input type="button" class="btn_oper" value="发短信" ng-click="callSelect('sms')" /></p>
                        <p class="mt_10"><input type="button" class="btn_oper" value="取消" ng-click="callCancel()" /></p>
                    </section>   
                </section>
                <section class="popup_bottom align_center {{popupSelectShow}}">
                    <section class="popup_inner m_auto_h">
                        <p>{{operType + "给："}}</p>
                        <div class="mt_10" ng-repeat="contact in contacts">
                            <p>{{contact.contactName}}：</p>
                            <p ng-repeat="phone in contact.phoneList">
                                <a href="{{callType}}:{{phone.phoneNumber}}" class="btn_oper in_block mt_5" ng-click="updateLastFollowDate(callType, inquiryId)">{{phone.phoneNumber}}</a>
                            </p>
                        </div>
                    </section>
                     <p class="mt_10 align_center"><input type="button" class="btn_oper" value="取消" ng-click="selectCancel()" /></p>   
                </section>

                <!-- mask -->
                <iframe id="mask" class="{{iframeShow}}"></iframe>
            </div>
        </div>
    </div>
</div>
