<section class="page_login {{show1}}">
    <div class="logo"></div>
    <section class="login_wrap mt_10">
        <form name="loginForm" novalidate>
            <p><input type="text" ng-model="employee.id" value="" class="login_text login_text_id" placeholder="工号" /></p>
            <p><input type="password" ng-model="employee.password" value="" class="login_text login_text_password" placeholder="密码" /></p>
            <p><input type="button" class="btn_login" value="登录" ng-click="login(employee)" /></p>
        </form>
    </section>
</section>